<div class="col-lg-9 control-section">
    <ejs-treegrid #treegrid [dataSource]='data' allowPaging='true' childMapping='subtasks' height='350' [treeColumnIndex]='0' allowSorting='true' [sortSettings]='sortSettings' (actionComplete)="sort($event)" showColumnMenu=true allowReordering='true' [allowResizing]='true'
        [toolbar]='toolbar' [editSettings]='editSettings' [allowRowDragAndDrop]='true' allowFiltering='true' [filterSettings]='filterSettings'>
        <e-columns>
            <e-column field='orderID' headerText='orderID' width='200' [validationRules]='taskidrules'></e-column>
            <e-column field='orderName' headerText='ordrName' width='200' [validationRules]='tasknamerules'></e-column>
            <e-column field='Category' headerText='Category' width='150' [validationRules]='tasknamerules'></e-column>
            <e-column field='units' headerText='Units' width='120' textAlign='Right' [validationRules]='numericParams'></e-column>
        </e-columns>
    </ejs-treegrid>
</div>
<div class="col-lg-3">
    <div>
        <div>Multisorting</div>
        <table id="property" title="Properties" style="width: 15%">
            <tr>
                <td>
                    <div>
                        Order Name
                    </div>
                </td>
                <td>
                    <div class="col-md-2">
                        <input #orderName type="checkbox" (change)="onClick1($event)" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        Category
                    </div>
                </td>
                <td>
                    <div class="col-md-2">
                        <input #category [checked]="true" type="checkbox" (change)="onClick2($event)" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        Units
                    </div>
                </td>
                <td>
                    <div class="col-md-2">
                        <input #units type="checkbox" (change)="onClick4($event)" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>